[submodule "contract"]
	path = contract
	url = git@github.com:popudev/hackathon-near-contract.git
[submodule "website"]
	path = website
	url = git@github.com:popudev/hackathon-near-web.git
[submodule "server"]
	path = server
	url = git@github.com:popudev/hackathon-near-server.git
[submodule "types"]
	path = types
	url = https://github.com/kidp2h/types
